* {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
body{
    background-color:rgb(43, 43, 43);
    color:whitesmoke;
} 
.fixed{
    position: fixed;
    top: 0;
    width: 100%;
    margin-bottom: 2px;
}
.opacityFooter {
    opacity: 0.20;
}
@media screen and (max-width: 576px) { 
   .mobile {
       flex-direction: column;
   }
}
.moveleft{
    margin-right:0;
    margin-top: 5rem;
    margin-left: 2.5rem;
   
}
.card-width{
    max-width:190px;
    max-height:250px;
}
.m-top {
    margin-top: 12%;
} 
.stack{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 2rem;   
}
.no-decoration {
    text-decoration: none;
}
.input-style {
    border-radius: 10px;
    outline: none;
    margin: 5px;
    font-weight: bold;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
.labeler {
    font-weight: bold;
    font-size: 1rem;
}
.linker {
    display: inline-block;
    border: 1px solid #0d6efd;
    border-radius: 10px;
    padding: 4px;
}
.linker:hover {
    background-color: white;
    color: black;
}

@media screen and (max-width: 488px) {
    .card-width{
        max-width:120px;
        max-height:180px;
        display: grid;
        grid-gap: 30px;
       grid-template-columns: repeat(2,1fr);
    }
    .moveleft{
        margin-top: 0%;
        margin-left: 0rem;
    }
    .moveleft{
        margin-right:0;
        margin-top: 5rem;
        margin-left: 2rem;
    }

}

