 body{
    background-color:rgb(43, 43, 43);
    color:whitesmoke
} 

@media screen and (max-width: 576px) { 
   .mobile {
       flex-direction: column;
   }
}

.card-width{
    width:220px;
    height:280px;
}

.stack{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 2rem;   
}
